* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
    scrollbar-gutter: auto;
}

:root {
    --color-primario-1: #3A98B9;
    /* Primer color primario */
    --color-primario-2: #FFF1DC;
    /* Segundo color primario */
    --color-secundario-1: #E8D5C4;
    /* Primer color secundario */
    --color-secundario-2: #EEEEEE;
    /* Segundo color secundario */
}

body {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header {
    width: 100%;
    height: 500px;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    box-shadow: 4px 4px 2px -2px gray;
}

header .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px 5px;
    z-index: 1000;
    /* Asegura que el menú esté sobre otros elementos */
}

.menu.scrolled {
    color: var(--color-primario-1);
    background: var(--color-secundario-1);
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    opacity: 0.9;
    padding: 5px 5px;
}

.menu a {
    color: var(--color-primario-1);
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    transition: font-size 0.3s;
    text-decoration: none;
    font-weight: lighter;
    ;
}


.menu a:hover {
    color: var(--color-primario-2);
    text-decoration: underline;
    font-size: 19px;
}

header .contenedor-texto-header {
    margin: 100px 0;
    text-align: center;
    width: auto;
    justify-content: baseline;
    text-shadow: -2px 2px 3px #000;
}

header .contenedor-texto-header .titulo-header {
    color: var(--color-primario-1);
    font-size: 60px;
    font-family: 'Changa', sans-serif;
    font-size: 60px;
    margin-bottom: 5px;
}

span {
    color: #ffd174;
}

.linea {
    width: auto;
    max-width: 600px;
    margin: auto;
    height: 3px;
    background-color: var(--color-primario-1);
    margin-bottom: 20px;

}

header .contenedor-texto-header .subtitulo-header {
    width: auto;
    justify-content: baseline;
    font-size: 20px;
    color: var(--color-primario-1);
    font-weight: 300;
    margin-bottom: 40px;
}

header .contenedor-texto-header .call-to-action {
    font-family: 'Changa', sans-serif;
    border: 2px solid var(--color-primario-1);
    ;
    text-align: center;
    color: var(--color-primario-1);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.5s ease;
    transition: font-size 0.5s;
}

header .contenedor-texto-header .call-to-action:hover {
    background: var(--color-primario-1);
    color: #fbfbfb;
    font-size: 19px;
    text-shadow: -1px 1px 1px #000;
}

.acerca-de {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    opacity: 0;
    /* Inicialmente oculto */
    transform: translateY(20px);
    /* Agregamos un pequeño desplazamiento para animación */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.wrapper {
    margin: 70px auto;
    width: 90%;
    max-width: 1000px;
}

.wrapper .contentImg {
    text-align: center;
}

.wrapper .contentImg img {
    display: block;
    max-width: 200px;
    float: left;
    border-radius: 50%;
    margin: 0 30px 30px;
}

h2 {
    padding-bottom: 30px;
    font-family: 'Changa', sans-serif;
    font-size: 40px;
    color: #febe3e;
    text-shadow: -2px 2px 3px #000;
}

.fa-node-js:hover {
    color: green;
}

.fa-react:hover {
    color: blue;
}

.fa-html5:hover {
    color: red;
}

.fa-css3:hover {
    color: #3A98B9;
}

.wrapper .content p {
    font-family: 'Changa', sans-serif;
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
}

.wrapper .content span {
    font-size: 25px;
    width: 100px;
    display: block;
    margin: 0 auto; /* Centrar el texto dentro del contenedor */
    padding: 5px 0; /* Puedes ajustar el espacio interno del contenedor */
}

.skills {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--color-primario-1);
    /* Puedes ajustar el grosor y el color según tus preferencias */
    padding-bottom: 10px;
    /* Puedes ajustar el espacio entre el texto y el borde inferior */
    display: inline-block;
    margin-top: 20px;
    /* Puedes ajustar la distancia entre el párrafo y el contenedor */

}

.icons {
    text-align: center;
}

i {
    padding: 30px;
}

i span {
    color: #000;
}

.portafolio {
    margin-bottom: 0;
    background-color: #fff;
    text-align: center;
    background-image: radial-gradient(var(--color-secundario-2) 0.5px, #313131 0.5px);
    background-size: 10px 10px;
    padding-top: 70px;
}

.contenidoPortafolio {
    opacity: 0;
    /* Inicialmente oculto */
    transform: translateY(20px);
    /* Agregamos un pequeño desplazamiento para animación */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container {
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    width: 90%;
    max-width: 1000px;
    padding: 30px 0 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}

/* Style the cards */
.card {
    align-items: center;
    color: #ffffff;
    height: auto;
    font-size: 20px;
    overflow: hidden;
    border: 0px solid #000;
}


.github-icon:hover {
    font-size: 28px;
    /* Ajusta el tamaño del icono según tus preferencias */
    color: var(--color-primario-1);
    /* Ajusta el color del icono */
}

.contenedorIcon {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.card a {
    width: 100%;
    text-decoration: none;
    color: var(--color-primario-1);
}


.card img {
    width: 100%;
    height: auto;
}


.contacto {
    height: 600px;
    opacity: 0;
    /* Inicialmente oculto */
    transform: translateY(20px);
    /* Agregamos un pequeño desplazamiento para animación */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: center;
    background-image: url("img/fondocontacto.jpg");
    background-size:cover;
}

.contact-conteiner {
    display: grid;
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}

.links {
    width: 100%;
    border: 0px solid #000;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: var(--color-primario-1);
    border-radius: 10px;
    padding: 45px;
    justify-content: center;
    align-items: center;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--color-primario-1);
    text-align: left;
}

.links a i {
    padding: 0 10px 0 0;
    text-align: left;
}

.links a span {
    text-align: left;
    margin-left: 0px;
    color: #000;
}
.contact-data {
    width: 100%;
    border: 0px solid #000;
    min-height: 100px; /* Cambiado de height a min-height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm {
    width: 80%;
    display: flex; /* Alineación vertical con display flex */
    flex-direction: column; /* Los elementos se apilan verticalmente */
    padding: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: var(--color-primario-1);
    border-radius: 10px;
}

.contactForm label {
    margin-bottom: 5px;
    margin-top: 20px;
}

.contacto span {
    font-size: 25px;
    width: 100px;
    display: block;
    margin: 0 auto; /* Centrar el texto dentro del contenedor */
    padding: 5px 0; /* Puedes ajustar el espacio interno del contenedor */
}

.contactForm button {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid var(--color-primario-1);
    text-align: center;
    color: var(--color-primario-1);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.5s ease;
    transition: font-size 0.5s;
}

.contactForm button:hover {
    background: var(--color-primario-1);
    color: #fbfbfb;
    text-shadow: -1px 1px 1px #000;
}


.contactForm input {
    padding: 5px;
}

.liks a {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.aparecer {
    opacity: 1;
    /* Hacer visible */
    transform: translateY(0);
    /* Quitar el desplazamiento */
}

.typing-effect {
    overflow: hidden;
    /* Evitar que el texto se muestre antes del efecto de escritura */
    /* Evitar saltos de línea */
    border-right: 2px solid #000;
    /* Simular el cursor de escritura */
    font-size: 24px;
}

@media screen and (max-width: 510px) {
    .wrapper .contentImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper .contentImg img {
        max-width: 120px;
    }

    header .contenedor-texto-header .titulo-header {
        color: var(--color-primario-1);
        font-size: 35px;
        margin-bottom: 5px;
        text-shadow: -2px 2px 3px #000;
    }

    header .contenedor-texto-header .subtitulo-header {
        width: auto;
        justify-content: baseline;
        font-size: 15px;
        color: var(--color-primario-1);
        font-weight: 300;
        margin-bottom: 40px;
    }

    header .menu a {
        display: inline-block;
        padding: 5px 10px;
        font-size: 13px;
        text-decoration: none;
        font-weight: lighter;
    }

    h2 {
        text-align: center;
    }

    .contactForm {
        width: 90%;
    }
}